*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 1fr;
  align-items: self-end;
  width: 100%;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 5px;
  width: 100%;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  background: none;
  appearance: none;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  width: 100%;
  min-height: 27px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 11px;
  padding-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: block;
  position: relative;
  margin-right: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding-left: 20px;
}

.search-form__pseudo-checkbox::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  color: currentColor;
  border: 1px solid currentColor;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  background: none;
  height: 34px;
  cursor: pointer;
}

.search-form__submit-button {
  padding: 0 73px;
}

.more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

input:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  background: #fff;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  outline: 1px solid #fff;
  background: #545050;
  text-decoration: none;
}

.button:focus-visible {
  outline: 2px solid #ffffff;
}

.content__video-card:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}
